{% extends 'base.html' %}

{% block content %}
	<h2>Choose one please:</h2>
	{% if PageList %}
		{% for i in PageList %}
			<p>{{i}}</p>
		{% endfor %}

	{% else %}
		Eror!
	{% endif %}
	{{position}}
	<form action="{% url 'page5' %}">
    	<input class="button" type="submit" value="yes" />
	</form>
	<form action="{% url 'page5n' %}">
    	<input class="button" type="submit" value="no" />
	</form>
	<!-- <button type="submit" onclick="locatoin.href='{% url 'page2' %}'">yes</button> -->
{% endblock %}